# Eclipse project files
.settings
.classpath
.project
.metadata
.mymetadata
.springBeans
.externalToolBuilders
.gradle

# IntelliJ Idea project files
.idea
.idea/*
*.iml
*.ipr
*.iws

# Always ignore these directories/files
target
build
*/target/*
logs
bin
root/xms/artifacts
test-output

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
